#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

img {
  width: 100px;
  height: auto;
}

ul {
  margin-bottom: 24px;
  margin-left: -38px;
}

body {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  color: white;
}

li {
  list-style-type: none;
  margin-bottom: 24px;
}

legend {
  margin-bottom: 24px;
  font-size: 30px;
}

label {
  font-size: 24px;
  font-weight: 500;
}

input {
  display: flex;
  width: 320px;
  height: 52px;
  color: white;
  outline: none;
  padding: 0 16px;
  font-size: 24px;
}

form {
  padding: 56px;
  min-width: 320px;
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.15);
}

button {
  color: white;
}

form a {
  display: inline-flex;
  margin-top: 32px;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
}